<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="DevExpress" value="https://nuget.devexpress.com/tbLChVxddg7diLGwUsZKe5DtbkyDseOP7EumLKZRaNbprOQYk1/api/v3/index.json" />
  </packageSources>
</configuration>
